<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageFileName</key>
		<string>filter-0.png</string>
		<key>imageTitle</key>
		<string>Miss Etikate</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter-1.png</string>
		<key>imageTitle</key>
		<string>Amatorke</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter-2.png</string>
		<key>imageTitle</key>
		<string>Cartoon</string>
	</dict>
</array>
</plist>
