<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageFileName</key>
		<string>filter_1.png</string>
		<key>imageTitle</key>
		<string>Normal</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_2.png</string>
		<key>imageTitle</key>
		<string>Vintage</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_12.png</string>
		<key>imageTitle</key>
		<string>Beirut</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_3.png</string>
		<key>imageTitle</key>
		<string>Dusk</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_7.png</string>
		<key>imageTitle</key>
		<string>Katana</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_4.png</string>
		<key>imageTitle</key>
		<string>Lomo</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_13.png</string>
		<key>imageTitle</key>
		<string>Toon</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_6.png</string>
		<key>imageTitle</key>
		<string>Sahara</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_5.png</string>
		<key>imageTitle</key>
		<string>Aura</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_10.png</string>
		<key>imageTitle</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_8.png</string>
		<key>imageTitle</key>
		<string>Dharma</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_11.png</string>
		<key>imageTitle</key>
		<string>Sepia</string>
	</dict>
	<dict>
		<key>imageFileName</key>
		<string>filter_9.png</string>
		<key>imageTitle</key>
		<string>Koppar</string>
	</dict>
</array>
</plist>
